# Лабораторная работа №1
## Вариант 6
Протарифицировать абонента с номером <b>968247916</b> с коэффициентом k: 4руб/минута исходящие звонки, 

0руб/минута входящие первые 5 минут, далее 1руб/минута, 

смс - первые 5шт бесплатно, далее 1руб/шт

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
print('Количество строк в таблице: {}'.format(len(df)))
df[:5]

Количество строк в таблице: 9

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
0  2020-01-01 00:00:00      915783624    911926375          36.23          15
1  2020-01-01 00:05:00      911926375    968247916           9.20           5
2  2020-01-01 00:10:00      936415793    915642913           7.52          24
3  2020-01-01 00:15:00      914976835    914976835          96.70          97
4  2020-01-01 00:20:00      962365794    933156729         110.44          15

In [3]:
df

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
0  2020-01-01 00:00:00      915783624    911926375          36.23          15
1  2020-01-01 00:05:00      911926375    968247916           9.20           5
2  2020-01-01 00:10:00      936415793    915642913           7.52          24
3  2020-01-01 00:15:00      914976835    914976835          96.70          97
4  2020-01-01 00:20:00      962365794    933156729         110.44          15
5  2020-01-01 00:25:00      966714385    915783624          12.34           5
6  2020-01-01 00:30:00      968247916    962365794          91.48          57
7  2020-01-01 00:35:00      933156729    936415793          83.22          73
8  2020-01-01 00:40:00      915642913    966714385          85.70          18

* timestamp - время звонка
* msisdn_origin - кто совершил звонок
* msisdn_dest - кому звонили
* call_duration - длительность звонка в минутах
* sms_number - количество отправленных смс для абонента msisdn_origin

In [4]:
# Перечень абонентов
abon = set()

for v in df['msisdn_origin']:
    abon.add(v)
for v in df['msisdn_dest']:
    abon.add(v)

abon = sorted(list(abon))
print('Все абоненты:')
print(abon)

Все абоненты:
[911926375, 914976835, 915642913, 915783624, 933156729, 936415793, 962365794, 966714385, 968247916]

In [5]:
abon_number = 968247916
k_call = [4, 0, 1] # [outgoing calls, incoming calls - first 5 minutes, incoming calls - after 5 minutes] per minute
k_sms  = [0, 1]    # [First 5 sms, After 5 sms] per sms

### Исходящие

In [6]:
outgoing = df[df['msisdn_origin'] == abon_number].copy()
outgoing

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
6  2020-01-01 00:30:00      968247916    962365794          91.48          57

In [7]:
out_calls = outgoing['call_duration'].values
out_calls

array([91.48])

In [8]:
sms = outgoing['sms_number'].values
sms

array([57], dtype=int64)

### Входящие

In [9]:
incoming = df[df['msisdn_dest'] == abon_number].copy()
incoming

             timestamp  msisdn_origin  msisdn_dest  call_duration  sms_number
1  2020-01-01 00:05:00      911926375    968247916            9.2           5

In [10]:
in_calls = out_calls = incoming['call_duration'].values
in_calls

array([9.2])

# Тарификация

In [11]:
def tariff(outgoing, incoming):
    # Get necessary values from data
    out_calls = outgoing['call_duration'].values
    sms = outgoing['sms_number'].values
    in_calls = incoming['call_duration'].values
    
    # Calculate amount
    out_calls_sum = sum([v * 4 for v in out_calls])
    in_calls_sum  = sum([5*0 + (v-5)*1 if v>=5 else 0 for v in in_calls])
    sms_sum       = sum([5*0 + (v-5)*1 if v>=5 else 0 for v in sms])
    amount =  out_calls_sum + in_calls_sum + sms_sum
    
    return amount

In [12]:
print('Итоговая сумма: {:.2f}'.format(tariff(outgoing, incoming)))

Итоговая сумма: 422.12